{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%}Forgot Password{%endblock title%}
{%block content%}
<div class="container">
		<div class="row d-flex justify-content-center">
				<div class="card bg-light">
						<div class="card-body">
								<h4 class="card-title"><i class="fas fa-envelope red-text"></i> Verification Link</h4>
								<hr>
								<p>Please Check your email,we have send you a verification link to process the
								operation!</p>
						</div>
				</div>
		</div>
</div>
{%endblock content%}

